<p id="notice"><%= notice %></p>

<h2>
  <%= @student.full_name %>
</h2>

<p>
  <b>Programme:</b>
  <%= @student.programme %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %> |
<%= link_to 'Delete', @student, :confirm => 'Are you sure?', :method => :delete %>
