<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3><%= @project.student.full_name %></h3>

  <%= f.hidden_field :student_id %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :supervisor %><br />
    <%= f.select :supervisor, Lecturer.all.map{ |x| [x.full_name, x.id] }, :selected => (@project.supervisor.id if @project.supervisor), :include_blank => true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
