<%= form_for(@supervision) do |f| %>
  <% if @supervision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supervision.errors.count, "error") %> prohibited this supervision from being saved:</h2>

      <ul>
      <% @supervision.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lecturer_id %><br />
    <%= f.text_field :lecturer_id %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
