<p id="notice"><%= notice %></p>

<h4>Project Supervisors.</h4>

<h2>
  <%= @lecturer %>
</h2>

<p>
  <b>NUIG Mail:</b>
  <%= @lecturer.nuig_mail %>
</p>

<p>
  <b>Home Page:</b>
  <%= link_to nil, @lecturer.home_url %>
</p>

<p>
  <b>School:</b>
  <%= @lecturer.discipline %>
</p>

<h3>
Projects.
</h3>

<ul>
<%= render @lecturer.projects %>
</ul>

<hr/>
<%= link_to 'Edit', edit_lecturer_path(@lecturer) %> |
<%= link_to 'Back', lecturers_path %> |
<%= link_to 'Delete', @lecturer, :confirm => 'Are you sure?', :method => :delete %>
