<p id="notice"><%= notice %></p>

<h2>
  <%= @lecturer.full_name %>
</h2>

<p>
  <b>Home Page:</b>
  <%= link_to nil, @lecturer.home_url %>
</p>

<p>
  <b>School:</b>
  <%= @lecturer.discipline %>
</p>


<%= link_to 'Edit', edit_lecturer_path(@lecturer) %> |
<%= link_to 'Back', lecturers_path %> |
<%= link_to 'Delete', @lecturer, :confirm => 'Are you sure?', :method => :delete %>
